
.input-container {
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
}

.inputs {
    display: flex;
    gap: 10px;
}

.add-button {
    padding: 8px 15px;
    background-color: rgb(218, 218, 218);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

form{
    display:contents;
}